#heading{
    color:black;
    margin-top: 3vh;
    font-family: sans-serif;
    font-size: 3.5vh;
    font-weight: bolder;
    margin-bottom: 2vh;
}

img{
    margin-top: 2.5vh;
}

.username{
  height: 7.5vh;
  width:70vh;
  background-color:#F5F8FA;
  padding-left: 1.5vh;
  border-top: 0 white;
   border-left:0 white;
   border-right:0 white;
  border-bottom: 0.6vh solid #8ED0F9;
}

#phone::placeholder {color: #8ED0F9;
    font-size: 2.3vh;
   }

.password{
    height: 7.5vh;
    width: 70vh;
    background-color:#F5F8FA;
   padding-left: 1.5vh;
   border-top: 0 white;
   border-left:0 white;
   border-right:0 white;
   border-bottom: 0.6vh solid rgb(70, 58, 58);
   }

 #pass::placeholder {
     font-size: 2.3vh;
 }  

.login{
    height: 7.5vh;
    width: 73vh;
    text-align: center;
    background-color: #8ED0F9;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 3vh;
    }

.forgot {
    margin-top: 3vh;
    font-family: sans-serif;
    font-size: 2vh;
    color: #8ED0F9;
}